.d-container{
    margin-top:5px;
    width:100%;
    display: flex !important;
    justify-content: center !important;
    text-align:center !important;
    background-color: whitesmoke;
}

.form-control:focus {
    box-shadow:none;
}

.altText{
    font-size:12px;
    font-family: serif;
}

.altText>a{
    font-weight:bold; 
    text-decoration:none;
}